/*universal selector affects all attributes with the declarations*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*varibles for common colors*/

:root {
    --light-white: #E7E0E0;
    --glow: white;
}

/*end of variables for common colors*/


/*common color attributes*/

.about-title:hover, .portfolio-header:hover,
.project-title:hover, .contact-header:hover,
.push-me:hover,
.footer:hover{
    color: var(--glow);
}

.about-title, .portfolio-header,
.contact-header, .project-title,
.push-me,
.footer {
    color: var(--light-white);
}

/*end of common color attributes*/


/*common background image attributes*/

.about-title, .billboard,
.portfolio-header, .wrapper,
.contact-header, .buttons,
.footer {
    background-size: cover;
    background-attachment: fixed;
    background-position: 60%;
}

.about-title, .portfolio-header,
.contact-header,
.footer {
    opacity: .9;
}

/*end of common background attributes*/


/*header Section*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #C31508;
}

header h1 {
    font-size: 36px;
    color: var(--light-white);
    margin: 0;
    text-align: center;
    width: 100%;
}

header h1:hover {
    color: var(--glow);
}

header nav {
    padding: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav ul li a {
    padding: 10px;
    margin: 5px;
    font-size: 4vw;
    color:  var(--light-white);
    text-decoration: none;
}

header nav ul li a:hover {
    border-bottom: 2px solid #065249;
    color: var(--glow);
    
}

/*end of header section*/


/*Billboard section*/

.billboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../images/backgorund.jpg");
}

.billboard .intro{
    padding: 30px 15px 5px;
    border-bottom: 2px solid #EEA116;
}

.billboard p {
    color: white;
}

.small-font {
    font-size: 20px;
}

.big-font {
    font-size: 30px;
}

.my-name {
    color: #EEA116;
}

.my-name:hover {
    color: #F6F874;
}

.medium-font {
    font-size: 22px;
}

.my-picture img{
    width: 60vw;
    margin: 0 auto 30px auto;
    padding-top: 20px;
}

/*end of buildboard section*/


/*start of about me section*/

.about-title {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-image: url("../images/backgorund.jpg");
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 20%;
}

.description p {
    padding-top: 15px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

/*end of about me section*/


/*start of the portfolio section*/

.portfolio-header {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-image: url("../images/blue-main.jpg");
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%; 
    background-image: url("../images/blue-main.jpg");
}

.project-title {
    width: 60%;
    font-size: 24px;
    padding: 30px 0 5px;
    margin: 0 auto 20px auto;
    text-align: center;
    border-bottom: 2px solid #EEA116;
}

.first-project .image{
    width: 90vw;
}

.image {
    border: 2px solid #F1eca4;
    width: 75vw;
    flex: 1;
    border-radius: 15px;
    margin-bottom: 30px;
}

.image:hover {
    border-bottom: 6px solid #85E8FA;
    border-left: 6px solid #FF6F4F;
    border-right: 6px solid #0A697A;
    border-top: 6px solid #56C451;
}

/*end of portfolio section*/


/*start of contact me section*/

.contact-header {
    width: 100%;
    text-align: center;
    background-image: url("../images/blue-main.jpg");
    padding: 15px; 
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 50px;
    background-image: url("../images/blue-main.jpg");
}

.push-me {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    background-color: #506DF5;
    border: none;
}

.push-me:hover {
    border: 2px solid var(--glow);
    width: 120px;
}

/*end of contact me section*/


/*start of footer section*/

.footer {
    width: 100%;
    text-align: center;
    background-image: url("../images/blue-main.jpg");
    padding: 15px;
}

/*end of footer section*/


/*start of media queries for tablets*/

@media screen and (min-width: 768px) {

    .billboard {
        align-content: space-between;
    }
    
    .billboard .intro{
        padding: 0px;
        margin-right: 55px;
    }
    
    .my-picture img{
        width: 40vw;
        padding-top: 30px;
    }

    .about-title {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .description {
        margin: 2% 30%;
    }
    
    .description p {
        padding-top: 10px;
    }
    
    .portfolio-header {
        width: 100%;
        text-align: center;
        padding: 15px;
        margin-top: 30px;
    }
    
    .wrapper {
        flex-direction: row;
    }
    
    .image {
        width: 45vw;
    }
    
    .first-project .image{
        width: 80vw;
    }
}

/*end of media queries for tablets*/


/*start of media queris for small desktop screens*/

@media screen and (min-width: 981px) {

    header {
        align-items: center;
    }
    
    header h1 {
        font-size: 40px;
        flex: 1;
        margin-right: 35%;
    }
    
    header nav {
        padding: 0px;
    }
    
    header nav ul li a {
        font-size: 2.5vw;
    }

    .my-picture img{
        width: 25vw;
    }

    .image {
        width: 30vw;
    }

    .first-project .image{
        width: 70vw;
    }
}

/*end of media queries for smaller desktop screens*/


/*start of media queries for large desktop screens*/

@media screen and (min-width: 1200px) {

    header h1 {
        font-size: 35px;
        flex: 1;
        margin-right: 55%;
    }

    header nav ul li a {
        font-size: 2vw;
    }

    .my-picture img{
        width: 20vw;
    }

    .description {
        margin: 2% 40%;
    }
    
    .description p {
        padding-top: 0px;
        font-size: 20px;
    }
}

/*end of media queries for large desktop screens*/